<div
  class="modal fade"
  id="modalAddNewProduct"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalAddNewProductLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddNewProductLabel">
          Add new product
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" (ngSubmit)="onSumbmitForm()" #form="ngForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Name:</label>
                <input
                  type="text"
                  [(ngModel)]="product.name"
                  id="name"
                  name="name"
                  required
                  #nameInput="ngModel"
                  minlength="3"
                  class="form-control"
                />

                <div
                  *ngIf="nameInput.invalid && nameInput.touched"
                  class="text-danger mt-1"
                >
                  <small *ngIf="nameInput.errors?.['required']"
                    >Name field is required.</small
                  >
                  <small *ngIf="nameInput.errors?.['minlength']"
                    >Name need to have 3 characters.</small
                  >
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Quantity:</label>
                <input
                  type="number"
                  [(ngModel)]="product.quantity"
                  id="quantity"
                  name="quantity"
                  required
                  #quantityInput="ngModel"
                  min="1"
                  class="form-control"
                />

                <div
                  *ngIf="quantityInput.invalid && quantityInput.touched"
                  class="text-danger mt-1"
                >
                  <small *ngIf="quantityInput.errors?.['required']"
                    >Quantity field is required.</small
                  >
                  <small *ngIf="quantityInput.errors?.['min']"
                    >Quantity need to be bigger than 1.</small
                  >
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Price:</label>
                <input
                  type="number"
                  [(ngModel)]="product.price"
                  id="price"
                  name="price"
                  required
                  #priceInput="ngModel"
                  min="1"
                  class="form-control"
                />

                <div
                  *ngIf="priceInput.invalid && priceInput.touched"
                  class="text-danger mt-1"
                >
                  <small *ngIf="priceInput.errors?.['required']"
                    >Price field is required.</small
                  >
                  <small *ngIf="priceInput.errors?.['min']"
                    >Price need to be bigger than 1.</small
                  >
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Minimum stock:</label>
                <input
                  type="number"
                  [(ngModel)]="product.minimumStock"
                  id="minimumStock"
                  name="minimumStock"
                  required
                  #minimumStockInput="ngModel"
                  min="1"
                  class="form-control"
                />

                <div
                  *ngIf="minimumStockInput.invalid && minimumStockInput.touched"
                  class="text-danger mt-1"
                >
                  <small *ngIf="minimumStockInput.errors?.['required']"
                    >Minimum stock field is required.</small
                  >
                  <small *ngIf="minimumStockInput.errors?.['min']"
                    >Minimum stock need to be bigger than 1.</small
                  >
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Description:</label>
                <textarea
                  type="number"
                  [(ngModel)]="product.description"
                  id="description"
                  name="description"
                  required
                  #descriptionInput="ngModel"
                  minlength="10"
                  rows="5"
                  class="form-control"
                ></textarea>
                <div
                  *ngIf="descriptionInput.invalid && descriptionInput.touched"
                  class="text-danger mt-1"
                >
                  <small *ngIf="descriptionInput.errors?.['required']"
                    >Description field is required.</small
                  >
                  <small *ngIf="descriptionInput.errors?.['minlength']"
                    >Description need to be bigger than 10.</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-sm btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-sm btn-info"
            [disabled]="form.form.invalid"
          >
            <i class="fa-regular fa-square-plus"></i> Add new
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
