<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h1>Stock movement</h1>
      </div>
      <div class="card-body" *ngIf="stockMovements.items.length > 0">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Movement type</th>
              <th>Quantity</th>
              <th>Created at</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movement of stockMovements.items">
              <td>{{ movement.movementType | movementTypeFormat }}</td>
              <td>{{ movement.quantity }}</td>
              <td>{{ movement.createdAt | brTimeFormat }}</td>
            </tr>
          </tbody>
        </table>

        <div class="mt-4">
          <app-pagination
            [pageNumber]="stockMovements.pageNumber"
            [totalPages]="stockMovements.totalPages"
            (pageChange)="onPageChange($event)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
