<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h1>Suppliers</h1>
      </div>
      <div class="card-body">
        <div class="text-right">
          <button
            class="btn btn-sm btn-info mb-3"
            data-toggle="modal"
            data-target="#modalCreateSupplier"
          >
            <i class="fa-regular fa-square-plus"></i> Add new supplier
          </button>
        </div>
        <div *ngIf="suppliers.items.length > 0">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone mumber</th>
                <th>Created at</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let supplier of suppliers.items">
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.email }}</td>
                <td>{{ supplier.phoneNumber }}</td>
                <td>{{ supplier.createdAt | brTimeFormat }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-outline-warning mr-2"
                    (click)="supplierToEdit = supplier"
                    data-toggle="modal"
                    data-target="#modalEditSupplier"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-outline-danger"
                    (click)="deleteSupplier(supplier.id)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="mt-4">
            <app-pagination
              [pageNumber]="suppliers.pageNumber"
              [totalPages]="suppliers.totalPages"
              (pageChange)="onPageChange($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-suppliers-edit [supplier]="supplierToEdit" />
<app-suppliers-create (createdSupplier)="createdSupplier($event)" />
