<div class="row">
  <div class="col-12">
    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between"
      >
        <h1>Products</h1>
        <button
          class="btn btn-sm btn-info"
          data-toggle="modal"
          data-target="#modalAddNewProduct"
        >
          <i class="fa-regular fa-square-plus"></i> Add new
        </button>
      </div>
      <div class="card-body">
        <div class="w-100 overflow-x-scroll">
          <table class="table w-100">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Descrition</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Minimum Stock</th>
                <th>Created At</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="products">
              <tr *ngFor="let product of products.items">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price | brMoneyFormatter }}</td>
                <td>{{ product.minimumStock }}</td>
                <td>{{ product.createdAt | brTimeFormat }}</td>
                <td>
                  <a
                    href="/products/{{ product.id }}"
                    class="btn btn-sm btn-outline-warning"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="mt-3" *ngIf="products">
            <app-pagination
              [pageNumber]="products.pageNumber"
              [totalPages]="products.totalPages"
              (pageChange)="onPageChange($event)"
            ></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalAddNewProduct"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalAddNewProductLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddNewProductLabel">
          Add new product
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Quantity:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Price:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Minimum stock:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-sm btn-info">
          <i class="fa-regular fa-square-plus"></i> Add new
        </button>
      </div>
    </div>
  </div>
</div>
