.form-group {
  margin-bottom: 20px;
}

.base-layout {
  padding: 40px 0;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.toast-top-right,
.toast-bottom-right,
.toast-top-left,
.toast-bottom-left,
.toast-top-center,
.toast-bottom-center {
  z-index: 9999 !important;
}
.not-found-body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(47, 54, 64, 1) 23%,
    rgba(24, 27, 32, 1) 100%
  ) !important;
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.table tr th,
.table tr td {
  white-space: nowrap;
}
