.form-group {
  margin-bottom: 20px;
}

.base-layout {
  padding: 40px 0;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.toast-top-right,
.toast-bottom-right,
.toast-top-left,
.toast-bottom-left,
.toast-top-center,
.toast-bottom-center {
  z-index: 9999 !important;
}
